<h1 class="ls-title-intro ls-ico-text">Editar <%= Client.model_name.human(count: 1) %></h1>

<% if @client.errors.any? %>
    <% @client.errors.full_messages.each do |msg| %>
        <%= msg %>
    <% end %>
<% end %>

<%= render partial: 'form', locals: { customer: @client } %> 