<h1 class="ls-title-intro ls-ico-text">Nova <%= Subsidiary.model_name.human(count: 1) %></h1>

<% if @subsidiary.errors.any? %>
    <% @subsidiary.errors.full_messages.each do |msg| %>
        <%= msg %>
    <% end %>
<% end %>

<%= render partial: 'form', locals: { customer: @subsidiary } %> 