<ul class="ls-tabs-nav" id="awesome-dropdown-tab">
  <li class="ls-active"><a data-ls-module="tabs" href="#tab3">Aba 1</a></li>
  <li><a data-ls-module="tabs" href="#tab4">Aba 2</a></li>
  <li>
    <div data-ls-module="dropdown" class="ls-dropdown-tabs">
      <a data-ls-module="tabs" class="ls-btn">Aba 3</a>
      <ul class="ls-tabs-nav ls-dropdown-nav in-dropdown">
        <li><a data-ls-module="tabs" href="#tab5">Aba 3</a></li>
        <li><a data-ls-module="tabs" href="#tab6">Aba 4</a></li>
        <li><a data-ls-module="tabs" href="#tab7">Aba 5</a></li>
      </ul>
    </div>
  </li>
</ul>
<div class="ls-tabs-container" id="awesome-tab-content">
  <div id="tab3" class="ls-tab-content ls-active">
    <p>Quo possimus rerum non recusandae ut rerum aut nemo praesentium pariatur. facere neque natus et doloremque quo. impedit at magnam qui quas veritatis dolorem est expedita voluptatem consequatur molestiae atque. vitae dignissimos et dolorum placeat</p>
    <p>Est sed libero molestiae amet incidunt culpa a porro maxime accusamus repudiandae est inventore sint. pariatur soluta sit atque voluptates officiis aliquam. aut et fuga perferendis error dicta optio aut ut dolores laborum quam omnis amet quidem. quisquam ea minima sequi maxime porro quidem</p>
  </div>
  <div id="tab4" class="ls-tab-content">
    <p>Et magnam quae sed non fugiat et molestiae labore unde rerum. rem amet debitis eos recusandae quasi aspernatur labore animi. qui cumque atque provident nulla placeat qui alias est et sint ex est est. illum distinctio quisquam veritatis minus ut nesciunt impedit consectetur sit vero. ipsum libero saepe repellat unde magnam vitae iure magni ipsum aut eveniet. saepe vero deserunt aut itaque sapiente. occaecati distinctio in et dolore dolor</p>
  </div>
  <div id="tab5" class="ls-tab-content">
    <p>Facilis qui qui qui laboriosam saepe qui. tempore qui ut dolor a ratione voluptatum magnam eaque facere non. est expedita qui est</p>
    <p>Est ea aut qui doloremque quo iste adipisci eos nisi qui. corporis cumque eum fugit aut culpa dignissimos. aperiam blanditiis dignissimos fugiat aut qui cupiditate odit eos aut sed. consectetur placeat officiis consequatur occaecati ipsum qui ea eius ut. ab et quas architecto accusamus magnam numquam pariatur maiores omnis. fuga ut qui ipsum iure consequatur qui</p>
  </div>
  <div id="tab6" class="ls-tab-content">
    <p>Quia velit in consequuntur nam ut nisi neque voluptatem veritatis ipsa sit. est itaque perferendis corporis laudantium eum magni non commodi repellat reprehenderit sint. ut aliquam rerum et quasi eaque repellendus accusamus</p>
  </div>
  <div id="tab7" class="ls-tab-content">
    <p>Est est dolor non facere ea omnis incidunt. modi qui hic occaecati non et autem accusamus delectus commodi nihil accusamus est libero. est voluptate minus exercitationem quisquam</p>
  </div>
</div>