<h1 class="ls-title-intro ls-ico-text">Editar <%= Car.model_name.human(count: 1) %></h1>

<% if @car.errors.any? %>
    <% @car.errors.full_messages.each do |msg| %>
        <%= msg %>
    <% end %>
<% end %>

<%= render partial: 'form', locals: { customer: @car } %> 