<h1 class="title">Editar Fabricante</h1>

<% if @manufacturer.errors.any? %>
    <% @manufacturer.errors.full_messages.each do |msg| %>
        <%= msg %>
    <% end %>
<% end %>

<%= render partial: 'form', locals: { customer: @manufacturer } %> 