<h1>Fornecedor:</h1>

<%= @manufacturer.name %>
<%= link_to 'Editar', edit_manufacturer_path(@manufacturer) %>
<%= link_to 'Deletar', manufacturer_path(@manufacturer), method: :delete,
data: {confirm: 'Tem certeza?'} %>
<%= link_to 'Voltar', root_path %>