<h1>Modelos de carro</h1>
<p><%= link_to 'Registrar modelo de carro', new_car_model_path %></p>
<ul>
<% @car_models.each do |car_model| %>
    <li><%= link_to car_model.name, car_model %></li>
<% end %>
</ul>