<h1 class="ls-title-intro ls-ico-text">Nova <%= CarModel.model_name.human(count: 1) %></h1>

<% if @car_model.errors.any? %>
    <% @car_model.errors.full_messages.each do |msg| %>
        <%= msg %>
    <% end %>
<% end %>

<%= render partial: 'form', locals: { customer: @car_model } %> 